@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #f4f4f4;
  --color-foreground: #1a1a1a;

  --color-card: #ffffff;
  --color-card-foreground: #1a1a1a;

  --color-popover: #ffffff;
  --color-popover-foreground: #1a1a1a;

  --color-primary: #e31e24;
  --color-primary-foreground: #ffffff;

  --color-secondary: #ffd100;
  --color-secondary-foreground: #000000;

  --color-accent: #00428a;
  --color-accent-foreground: #ffffff;

  --color-muted: #f0f0f0;
  --color-muted-foreground: #666666;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;

  --color-border: #e2e2e2;
  --color-input: #e2e2e2;
  --color-ring: #e31e24;

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
